.home-page {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/311/399/676/iu-iu-lee-ji-eun-hd-wallpaper-preview.jpg");
    background-color: white;
}

h1.iu {
    font-family: Times, Serif;
}

p.b {
    color: whitesmoke;
}